<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>找回密码</title>
		<script type="text/javascript" src="/js/vue.min.js" ></script>
		<link rel="stylesheet" href="/lib/layui/css/layui.css" />
		<script type="text/javascript" src="/js/jquery.min.js" ></script>
	</head>
	<body>
		<div id="fp"> 
		   <div class="layui-form"> 
		   <div class="layui-form-item">
          <label class="layui-form-label">邮箱：</label>
        <div class="layui-input-block">
      <input type="text"  v-model="email" class="layui-input" placeholder="请输入您的邮箱">
    </div>
		   	
		   	</div>
		   	
		   	<div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" @click="zhPass" id="send">找回密码</button>
     
    </div>
  </div>
			
		</div>
		
	</body>
	<script type="text/javascript" src="/lib/layui/layui.js" ></script>
	<script>
		var layer=parent.layer;
		var index=layer.getFrameIndex(window.name);
        var fp=new Vue({
		el:'#fp',
		data:{
			email:''
			
		},
		methods:{
			zhPass:function(){
			    $("#send").attr('disabled',true);
                var reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                if(this.email==''){
                    layer.msg('请输入邮箱！')
                    $("#send").attr('disabled',false);
                     return ;
				}
                if(!reg.test(this.email)){
                    layer.msg('请输入正确格式的邮箱！')
                    $("#send").attr('disabled',false);
					return ;
				}

				var loading=layer.load(1);
				
			    $.ajax({
					type:'post',
					data:{email:fp.email},
					url:'/user/retrievePassword',
					success:function (res) {
                        $("#send").attr('disabled',false);
                        layer.close(loading)
					    if(res.sign){

					        layer.alert(res.msg,{icon:6},function () {
								layer.close(index);
                            })

						}else {

					        layer.msg(res.msg)
						}
						
                    },
					error:function () {
                        $("#send").attr('disabled',false);
					    layer.close(loading)
						layer.msg('服务器异常！')
                    }
					
					
					
				})
			}
			
			
		}
		
		
		
		
	})
		
	</script>
</html>
