<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>找回密码</title>
		<script type="text/javascript" src="/js/vue.min.js" ></script>
		<link rel="stylesheet" href="/lib/layui/css/layui.css" />
		<script type="text/javascript" src="/js/jquery.min.js" ></script>
	</head>
	<body>
		<div id="fp"> 
		   <div class="layui-form"> 
		   <div class="layui-form-item">
          <label class="layui-form-label">邮箱：</label>
        <div class="layui-input-block">
      <input type="text"  v-model="U_Email" class="layui-input" placeholder="请输入您的邮箱"> 
    </div>
		   	
		   	</div>
		   	
		   	<div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" @click="zhPass">找回密码</button>
     
    </div>
  </div>
			
		</div>
		
	</body>
	<script type="text/javascript" src="/lib/layui/layui.js" ></script>
	<script>
	var fp=new Vue({
		el:'#fp',
		data:{
			U_Email:''
			
		},
		methods:{
			zhPass:function(){
				
				alert("找回密码")
			}
			
			
		}
		
		
		
		
	})
		
	</script>
</html>
