<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>技术交流网v1.0登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/login.css">
	  <link rel="stylesheet" href="/css/xadmin.css">
   <script type="text/javascript" src="/js/jquery.min.js" ></script>
   <script type="text/javascript" src="/js/vue.min.js" ></script>
    
</head>
<body class="login-bg">
    
    <div id="login" class="login layui-anim layui-anim-up">
        <div class="message">技术交流网v1.0登录</div>
      
        
        <form method="post" class="layui-form"  name="loginForm">
            <input  v-model="user.loginId" placeholder="用户名"  type="text" class="layui-input" >
            <hr class="hr15">
            <input v-model="user.password"   placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            
             <input   type="checkbox" class="layui-input" name="ch"><span style="color: blue;" @click="openTg">我同意以上规则和协议</span>
               <hr class="hr15">
            <input value="登录"  style="width:100%;" type="button" @click="login">
          
            
            <hr class="hr20" >
            <div style="text-align: center;"><a @click="openForgetPass">找回密码</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a @click="openRegister">注册</a></div>
        </form>
    </div>

    

</body>
<script src="/lib/layui/layui.js" charset="utf-8"></script>

<script>
	var form;
	var layer;
	var laydate;
    var login=new Vue({
    	el:'#login',
    	data:{
    		user:{
    			password:'',
    			loginId:''
    			
    		}
    		
    	},
    	mounted:function(){
    		  layui.use(['form','layer','laydate'], function(){
                form = layui.form;
                layer=layui.layer;
                laydate=layui.laydate;
              });
           
      
    		
    		
    	},
    	methods:{
    		openRegister:function(){
    			layer.open({
    				type:2,
    				content:'/service/register',
    				title:'注册',
    				area:['600px','600px']
    				
    			})
    			
    			
    		},
    		openForgetPass:function(){
    			layer.open({
    				type:2,
    				content:'/service/forgetPassword',
    				title:'找回密码',
    				area:['600px','150px']
    				
    			})
    			
    		},
            login:function () {
                if(this.user.loginId==''){
                    layer.msg('请输入账号！')
                    return;
                }
                if(this.user.password==''){
                    layer.msg('请输入密码！')
                    return;
                }
                if(!document.loginForm.ch.checked){
                    layer.msg('请勾选服务条款！')
                    return;
                }
                $.ajax({
                    type:'post',
                    data:login.user,
                    url:'/user/login',
                    success:function (res) {
                        if(res.sign){
                            layer.msg(res.msg,function () {
                                window.location.href="/service/index.html";
                            })


                        }else {

                            layer.msg(res.msg)
                        }


                    }




                })
            },
            openTg:function () {
                layer.open({
                    type:2,
                    content:'/service/tg',
                    title:'相关条规',
                    area:['700px','150px']

                })
            }
    		
    		
    		
    	}
    	
    	
    	
    })
    
          
    </script>
    <!-- 底部结束 -->

</html>