<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		 <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>个人中心</title>
		<script type="text/javascript" src="/js/vue.min.js" ></script>
	<script type="text/javascript" src="/js/jquery.min.js" ></script>

  
		<link rel="stylesheet" href="/lib/layui/css/layui.css" />
		<link rel="stylesheet" href="/css/style.css" />
		
	</head>
	<body>
    <ul class="layui-nav ">
        <div style="text-align: center;">
            <li class="layui-nav-item ">
                <a href="/service/index.html">首页</a>
            </li>
            <li class="layui-nav-item ">
                <a href="/service/chatSel.html">交流聊天室<span class="layui-badge">hot</span></a>
            </li>
            <li class="layui-nav-item">
                <a onclick="returnInfo()">好友</a>
            </li>

            <li class="layui-nav-item">
                <a href="/service/tc.html">技术社区</a>
            </li>
            <li class="layui-nav-item">
                <a href="/service/publish.html">我发表的</a>
            </li>
            <li class="layui-nav-item ">
                <a href="/service/personCenter.html">个人中心</a>
            </li>
        </div>
        <li class="layui-nav-item layui-layout-right" lay-unselect="">
            <a href="javascript:;" id="headInfo"></a>
            <dl class="layui-nav-child">

                <dd><a onclick="loginOut()">退出</a></dd>
            </dl>
        </li>
    </ul>
		<div id="pc">
	    <div  style=" width: 600px; height: 580px; background:#FBFBFB;margin: auto; border-radius: 10px; margin-top: -10px;" >
	<div class="layui-tab ">
  <ul class="layui-tab-title">
    <li class="layui-this">个人资料修改</li>
    <li>头像修改</li>
    <li>修改密码</li>

   
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    <div class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
  <div class="layui-form-item">
    <label class="layui-form-label">登录账号：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.loginId" class="layui-input" disabled>
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">昵称：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.nickName" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">个性签名：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.signaTure" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">性别：</label>
    <div class="layui-input-block">
      <input type="radio"  name="sex" value="男" v-model="userInfo.sex" title="男" disabled>
      <input type="radio"  name="sex" value="女" v-model="userInfo.sex" title="女" disabled>
    </div>
  </div>
 <div class="layui-form-item">
    <label class="layui-form-label">生日：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.birthday" class="layui-input" disabled>
    </div>
  </div>
 <div class="layui-form-item">
    <label class="layui-form-label">电话：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.telephone" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">真实姓名：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.name" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">邮箱：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.email" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">简介：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.intro" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">生肖：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.shengXiao" class="layui-input" disabled>
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">年龄：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.age" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">星座：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.constellation" class="layui-input" disabled>
    </div>
  </div>
   
    <div class="layui-form-item">
    <label class="layui-form-label">职业：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.vocation" class="layui-input">
    </div>
  </div>
 
 <div class="layui-form-item">
    <label class="layui-form-label">国家：</label>
    <div class="layui-input-block">
     <select v-model="userInfo.nationId"  disabled>
    <option value="请选择" disabled>请选择</option>
    <option :value="nation.id"  v-for="nation in nations">{{nation.name}}</option>
   
  </select>   
    </div>
  </div>
 
  <div class="layui-form-item">
    <label class="layui-form-label">省份：</label>
    <div class="layui-input-block">
     <select v-model="userInfo.provinceId"  disabled>
    <option value="请选择" disabled>请选择</option>
    <option :value="province.id"  v-for="province in provinces">{{province.name}}</option>
   
  </select>   
    </div>
  </div>
  
    <div class="layui-form-item">
    <label class="layui-form-label">城市：</label>
    <div class="layui-input-block">
     <select v-model="userInfo.cityId"  disabled>
    <option value="请选择" disabled>请选择</option>
    <option :value="city.id"  v-for="city in citys">{{city.name}}</option>
   
  </select>   
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-filter="*"  type="button" @click="upInfor">立即修改</button>
     
    </div>
  </div>
  
</div>
    
    
    </div>
<div class="layui-tab-item">
     <div class="layui-form">
    <div class="layui-form-item">
    	  <label class="layui-form-label">修改头像：</label>
    <div class="layui-input-block">
    	 
    <img :src="userInfo.headPortrait" class="layui-nav-img">   <button class="layui-btn" id="updateHead">上传头像</button>
  
     </div>
     </div>
    

     	
     	</div>
    	
</div>
<div class="layui-tab-item">
    	
  <div class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
  <div class="layui-form-item">
    <label class="layui-form-label">旧密码：</label>
    <div class="layui-input-block">
      <input type="password"  v-model="pass.oldPass" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">新密码：</label>
    <div class="layui-input-block">
      <input type="password"  v-model="pass.newPass" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit type="button" @click="upPass">立即修改密码</button>
     
    </div>
  </div>
  
  
</div>   	
    	
    	
    	
</div>

   
  </div>
</div>
	
	
	
	
			
		</div>	
		</div>
		
		
	</body>
	<script src="/lib/layui/layui.js"></script>
	<script>
		var element;
		var form;
		var upload;
		var layer;
		var pc=new Vue({
			el:"#pc",
			data:{
				userInfo:{
                    loginId:'',
                    password:'',
                    nickName:'',
                    signaTure:'',
                    sex:'女',
                    headPortrait:'',
                    birthday:'',
                    telephone:'',
                    name:'',
                    email:'',
                    intro:'',
                    shengXiao:'',
                    age:'',
                    constellation:'',
                    vocation:'',
                    nationId:'',
                    provinceId:'',
                    cityId:''
				},
				nations:[],
				provinces:[],
				citys:[],
                pass:{
				    oldPass:'',
                    newPass:'',
                }
				
				
			},
			mounted:function(){
              $.ajax({
                  type:'post',
                  url:'/init/initPC',
                  success:function (res) {
                      $("#headInfo").html('<img src="'+res.user.headPortrait+'" class="layui-nav-img" title="'+res.user.signaTure+'">'+res.user.nickName);
                      pc.nations=res.nations;
                      pc.provinces=res.provinces;
                      pc.citys=res.citys;
                      pc.userInfo=res.user;

                      layui.use(['element','form','upload','layer'],function(){
                          element=layui.element;
                          form=layui.form;
                          upload=layui.upload;
                          layer=layui.layer;
                          upload.render({
                              elem: '#updateHead',
                              url: '/upload/uploadHeadImg',
                              accept:'images',
                              exts:'jpg|png|gif|bmp|jpeg'

                              ,done: function(res, index, upload){
                                    if(res.sign){
                                        layer.msg(res.msg,function () {
                                            window.location.reload()
                                        })
                                    }
                                  layer.closeAll('loading'); //关闭loading
                              }
                              ,error: function(index, upload){
                                  layer.closeAll('loading'); //关闭loading
                              }


                          })



                      })

                  }

              })



				
				
				
			},
            methods:{
                upInfor:function () {
                    console.info(pc.userInfo)
                    pc.userInfo.createTime=''
                    $.ajax({
                        type:'post',
                        data:pc.userInfo,
                        url:'/user/upInfor',
                        success:function (res) {
                            if(res.sign){
                                layer.msg(res.msg,function () {
                                    window.location.reload()
                                })
                            }else {
                                layer.msg(res.msg)
                            }
                        }


                    })
                },
                upPass:function () {
                    if(pc.pass.oldPass==''){
                        layer.msg('请输入旧密码！')
                        return
                    }
                    if(pc.pass.newPass==''){
                        layer.msg('请输入新密码！')
                        return
                    }

                    $.ajax({
                        type:"post",
                        data:pc.pass,
                        url:'/user/upPass',
                        success:function (res) {
                            if(res.sign){
                                layer.msg(res.msg,function () {
                                    window.location.href='/service/login.html';
                                })
                            }else {
                                layer.msg(res.msg)
                            }
                        }





                    })
                }



            }
		})


        function returnInfo(){
            layer.alert('该功能持续开发中---暂不开放!',{icon:5},function(){

                window.location.href='/service/personCenter.html'
            })

        }

        function loginOut() {
           $.ajax({
               type:'post',
               url:'/user/loginOut',
               success:function (res) {
                   layer.msg(res.msg,function () {
                       window.location.href='/service/login'
                   })
               }


           })
        }
	</script>
</html>
