<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		 <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>个人中心</title>
		<script type="text/javascript" src="/js/vue.min.js" ></script>
	<script type="text/javascript" src="/js/jquery.min.js" ></script>

  
		<link rel="stylesheet" href="/lib/layui/css/layui.css" />
		<link rel="stylesheet" href="/css/style.css" />
		
	</head>
	<body>
		
  <ul class="layui-nav ">
  	<div style="text-align: center;">
  <li class="layui-nav-item ">
    <a href="index.html">首页</a>
  </li>
   <li class="layui-nav-item ">
    <a href="chatSel.html">交流聊天室<span class="layui-badge">hot</span></a>
  </li>
  
  <li class="layui-nav-item">
    <a href="friends.html">好友</a>
  </li>
  <li class="layui-nav-item">
    <a href="tc.html">技术社区</a>
  </li>
  <li class="layui-nav-item">
    <a href="publish.html">我发表的</a>
  </li>
 
   <li class="layui-nav-item ">
    <a href="personCenter.html">个人中心<span class="layui-badge">9</span></a>
  </li>
  </div>
  <li class="layui-nav-item layui-layout-right" lay-unselect="">
  	
    <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">林迁</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">退出</a></dd>
    </dl>
  </li>
</ul>
		<div id="pc">
	    <div  style=" width: 600px; height: 580px; background:#FBFBFB;margin: auto; border-radius: 10px; margin-top: -10px;" >
	<div class="layui-tab ">
  <ul class="layui-tab-title">
    <li class="layui-this">个人资料修改</li>
    <li>头像修改</li>
    <li>修改密码</li>
    <li>关于你的</li>
   
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    <div class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
  <div class="layui-form-item">
    <label class="layui-form-label">登录账号：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_LoginID" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">昵称：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_NickName" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">个性签名：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_SignaTure" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">性别：</label>
    <div class="layui-input-block">
      <input type="radio"  name="sex" value="男" v-model="userInfo.U_Sex" title="男">
      <input type="radio"  name="sex" value="女" v-model="userInfo.U_Sex" title="女" >
    </div>
  </div>
 <div class="layui-form-item">
    <label class="layui-form-label">生日：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_Birthday" class="layui-input">
    </div>
  </div>
 <div class="layui-form-item">
    <label class="layui-form-label">电话：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_Telephone" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">真实姓名：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_Name" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">邮箱：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_Email" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">简介：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_Intro" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">生肖：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_ShengXiao" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">年龄：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_Age" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">星座：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_Constellation" class="layui-input">
    </div>
  </div>
   
    <div class="layui-form-item">
    <label class="layui-form-label">职业：</label>
    <div class="layui-input-block">
      <input type="text"  v-model="userInfo.U_Vocation" class="layui-input">
    </div>
  </div>
 
 <div class="layui-form-item">
    <label class="layui-form-label">国家：</label>
    <div class="layui-input-block">
     <select v-model="userInfo.U_NationID"  lay-search>
    <option value="请选择" disabled>请选择</option>
    <option :value="nation.id"  v-for="nation in nations">{{nation.nationName}}</option>
   
  </select>   
    </div>
  </div>
 
  <div class="layui-form-item">
    <label class="layui-form-label">省份：</label>
    <div class="layui-input-block">
     <select v-model="userInfo.U_ProvinceID"  lay-search>
    <option value="请选择" disabled>请选择</option>
    <option :value="province.id"  v-for="province in provinces">{{province.provinceName}}</option>
   
  </select>   
    </div>
  </div>
  
    <div class="layui-form-item">
    <label class="layui-form-label">城市：</label>
    <div class="layui-input-block">
     <select v-model="userInfo.U_CityID"  lay-search>
    <option value="请选择" disabled>请选择</option>
    <option :value="city.id"  v-for="city in citys">{{city.cityName}}</option>
   
  </select>   
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="*">立即修改</button>
     
    </div>
  </div>
  
</div>
    
    
    </div>
<div class="layui-tab-item">
     <div class="layui-form">
    <div class="layui-form-item">
    	  <label class="layui-form-label">修改头像：</label>
    <div class="layui-input-block">
    	 
    <img :src="userInfo.U_HeadPortrait" class="layui-nav-img">   <button class="layui-btn" id="updateHead">上传头像</button>
  
     </div>
     </div>
    
    <div class="layui-form-item">
    	 
    	  <div class="layui-input-block">
    	  	<br>
    	<div class="layui-progress layui-progress-big" lay-filter="uploadProgress" lay-showPercent="true">
        <div class="layui-progress-bar" lay-percent="0%"></div>
    	 </div>
         </div>
    </div>
     	
     	</div>
    	
</div>
<div class="layui-tab-item">
    	
  <div class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
  <div class="layui-form-item">
    <label class="layui-form-label">旧密码：</label>
    <div class="layui-input-block">
      <input type="password"  v-model="userInfo.U_PassWord" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">新密码：</label>
    <div class="layui-input-block">
      <input type="password"  v-model="userInfo.U_newPassWord" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="*">立即修改密码</button>
     
    </div>
  </div>
  
  
</div>   	
    	
    	
    	
</div>
    <div class="layui-tab-item">内容4</div>
   
  </div>
</div>
	
	
	
	
			
		</div>	
		</div>
		
		
	</body>
	<script src="/lib/layui/layui.js"></script>
	<script>
		var element;
		var form;
		var upload;
		var layer;
		var pc=new Vue({
			el:"#pc",
			data:{
				userInfo:{
					U_LoginID:'',
					U_PassWord:'',
					U_NickName:'',
					U_SignaTure:'',
					U_Sex:'女',
					U_HeadPortrait:'//t.cn/RCzsdCq',
					U_Birthday:'',
					U_Telephone:'',
					U_Name:'',
					U_Email:'',
					U_Intro:'',
					U_ShengXiao:'',
					U_Age:'',
					U_Constellation:'',
					U_Vocation:'',
					U_NationID:1,
					U_ProvinceID:1,
					U_CityID:1
				},
				nations:[
				{id:1,nationName:'中国'},
				{id:2,nationName:'美国'},
				{id:3,nationName:'法国'},
				{id:4,nationName:'德国'},
				],
				provinces:[
				{id:1,provinceName:'江西省'},
				{id:2,provinceName:'湖北省'},
				{id:3,provinceName:'湖南省'},
				{id:4,provinceName:'广东省'},
				],
				citys:[
				{id:1,cityName:'南昌市'},
				{id:2,cityName:'武汉市'},
				{id:3,cityName:'宜春市'},
				{id:4,cityName:'贵阳市'},
				]
				
				
			},
			mounted:function(){
				layui.use(['element','form','upload','layer'],function(){
					element=layui.element;
					form=layui.form;
					upload=layui.upload;
					layer=layui.layer;
					upload.render({
						  elem: '#updateHead'
                        ,url: '/api/upload/'
                        ,progress: function(n, elem){
                            var percent = n + '%' //获取进度百分比
                              element.progress('uploadProgress', percent); //可配合 layui 进度条元素使用
    
                                    //以下系 layui 2.5.6 新增
                            console.log(elem); //得到当前触发的元素 DOM 对象。可通过该元素定义的属性值匹配到对应的进度条。
                            }
                         ,done: function(res, index, upload){
                          layer.closeAll('loading'); //关闭loading
                              }
                        ,error: function(index, upload){
                             layer.closeAll('loading'); //关闭loading
                                 }
						
						
					})
					
					
					
				})
				
				
				
			}
		})
		
		
		
	</script>
</html>
